<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
    <body>
        <form method ="POST" action="\predict">
        <div class="container">

            <button class="button1 bouncy" value="single">single</button>
            <button  class="button1 bouncy" style="animation-delay:0.07s" value="multiple">multiple</button>
            <button  class="button1 bouncy" style="animation-delay:0.14s" value="multi">mutli level</button>
            <button  class="button1 bouncy" style="animation-delay:0.21s" value="hierarical">hierarical</button>
            <button  class="button1 bouncy" style="animation-delay:0.28s" value="hybrid">hybrid</button>
        </div>
    </form> 
    </body>
</html>
 